---
import Layout from '../layouts/Layout.astro'
import LinkTree from '../components/LinkTree.vue'
---

<Layout title="Home">
  <h1>benjamin elfen.</h1>
  <LinkTree />
</Layout>

<style scoped>
  @import url('../style/global.css');

  html, body {
    height: 100vh;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
  }

  @media only screen and (max-width: 600px) {
    body {
      justify-content: flex-start;
    }

    h1 {
      padding-top: 3rem;
    }
  }

  h1 {
    font-weight: bold;
    padding-bottom: 5vh;
  }
</style>
