---
import LinkTree from '../components/LinkTree.astro';
import Stack from '../components/Stack.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Stack style={{ height: '100%' }}>
    <h1>benelfen.</h1>

    <LinkTree />
  </Stack>
</Layout>
