---
const posts = await Astro.glob('../pages/blog/*.md')
---

<div>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={'/blog/' + post.frontmatter.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</div>

<style scoped lang="scss">
  ul {
    list-style: none;
    padding: 0;
    & li {
      padding-bottom: 0.3em;
      transition: transform 0.2s ease;
      &:hover {
        transform: translateX(3px);
      }

      & a {
        text-decoration: none;
        color: var(--link);
        font-size: 0.9rem;
        margin-left: 0.5em;
        display: block;
      }
    }
  }
</style>
