---
import { CssProperties } from 'astro/dist/assets/fonts/types';
import { SvgComponent } from 'astro/types';
import { Image } from 'astro:assets';

interface Props {
  icon: SvgComponent & ImageMetadata;
  alt: string;
  style?: CssProperties;
  href?: string;
}

const { icon, alt, style, href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">
  <Image src={icon} alt={alt} style={{ ...style, width: '15vh', height: '15vh' }} />
</a>
