---
import type { SvgComponent } from 'astro/types';
import { Picture } from 'astro:assets';

interface Props {
  icon: SvgComponent & ImageMetadata;
  alt: string;
  style?: astroHTML.JSX.CSSProperties;
  href?: string;
}

const { icon, alt, style, href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">
  <Picture
    src={icon}
    alt={alt}
    loading="lazy"
    fetchpriority="auto"
    decoding="async"
    style={{ ...style, width: '15vh', height: '15vh' }}
  />
</a>
