---
interface Props {
  className?: string;
  direction?: 'row' | 'column';
  justifyContent?: 'flex-start' | 'center' | 'flex-end' | 'space-between' | 'space-around' | 'space-evenly';
  alignItems?: 'flex-start' | 'center' | 'flex-end' | 'stretch' | 'baseline';
  gap?: number;
  style?: astroHTML.JSX.CSSProperties;
}

const { direction, justifyContent, alignItems, gap, style, className, ...rest } = Astro.props;
---

<div
  {...rest}
  class={className}
  style={{
    display: 'flex',
    flexDirection: direction || 'column',
    justifyContent: justifyContent || 'center',
    alignItems: alignItems || 'center',
    gap: gap ? `${gap}rem` : undefined,
    ...style,
  }}
>
  <slot />
</div>
