---
import { CssProperties } from 'astro/dist/assets/fonts/types';

interface Props {
  direction?: 'row' | 'column';
  justifyContent?: 'flex-start' | 'center' | 'flex-end' | 'space-between' | 'space-around' | 'space-evenly';
  alignItems?: 'flex-start' | 'center' | 'flex-end' | 'stretch' | 'baseline';
  gap?: number;
  style?: CssProperties;
}

const { direction, justifyContent, alignItems, gap, style } = Astro.props;
---

<div
  style={{
    ...style,
    display: 'flex',
    flexDirection: direction || 'column',
    justifyContent: justifyContent || 'center',
    alignItems: alignItems || 'center',
    gap: gap ? `${gap}rem` : undefined,
  }}
>
  <slot />
</div>
