---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props
import NavBar from '../components/NavBar.vue'
import BlogContent from '../components/BlogContent.vue'
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <NavBar />
    <BlogContent>
      <h1>{frontmatter.title}</h1>
      <slot />
      <p>Written on: {frontmatter.date}</p>
    </BlogContent>
  </body>
</html>

<style>
  @import url('../style/global.css');
  html,
  body {
    height: 100vh;
  }

  body {
    display: flex;
  }
</style>
